@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a MiAplicación!</h1>
    <p class="lead">Esta es una aplicación ASP.NET Core con un frontend más atractivo.</p>
    <a href="#" class="btn btn-primary btn-lg mt-3">Comenzar</a>
</div>
